<div class="row animated fadeInRight"
	ng-controller="customQuerySettingCtrl">
	<div class="col-md-12 " class="center">
		<button type="button" class="btn btn-primary btn-sm"
			ng-click="save()"  style="margin-top: 10px;">
			<i class="fa fa-save"></i> 保存
		</button>
		<button type="button" class="btn btn-inverse btn-sm"
			ng-click="close()"  style="margin-top: 10px;">
			<i class="fa fa-close"></i> 关闭
		</button>
		<button ng-if="prop.dsType!='dataSource'" type="button" class="btn btn-danger btn-sm"
			ng-click="addFields()"  style="margin-top: 10px;">
			<i class="fa fa-plus"></i> 添加字段
		</button>
		<button type="button" class="btn btn-danger btn-sm"
			ng-click="addColumns()"  style="margin-top: 10px;">
			<i class="fa fa-arrow-right"></i> 新增
		</button>
	</div>
	
	<div class="col-md-4 animated fadeInRight full-height-scroll">
		<table
			class="table table-striped table-bordered table-hover dataTables-example"
			style="margin-bottom: 0px;">
			<thead>
				<tr>
					<th colspan="3">获取字段信息</th>
				</tr>
			</thead>
		</table>
		<table
			class="table table-striped table-bordered table-hover dataTables-example">
			<thead>
				<tr>
					<th width="30px"><input type="checkbox" ng-model="selectAll" /></th>
					<th>字段</th>
					<th class="col-md-5">注解</th>
					<th ng-if="prop.dsType!='dataSource'">操作</th>
				</tr>
			</thead>
			<tr ng-repeat="column in table.columnList">
				<td><input type="checkbox" ng-model="column.selected"  /></td>
				<td ng-if="prop.dsType=='dataSource'" ng-click="clickColumn(column)">{{column.fieldName}}</td>
				<td ng-if="prop.dsType!='dataSource'" ng-click="clickColumn(column)">
					<input type="text"
					class="form-control" ng-model="column.fieldName" />
				</td>
				<td ng-click="clickColumn(column)"><input type="text"
					class="form-control" ng-model="column.comment" /></td>
				<td ng-if="prop.dsType!='dataSource'">
					<button class="btn btn-danger btn-sm remove" ng-click="ArrayChange.del($index,table.columnList)">
										<i class="fa fa-trash"></i> 删除
									</button>
				</td>
			</tr>
		</table>
	</div>
	
	<div
		class="col-md-8 border-right border-left no-padding" >
		<div class="tabs-container">
			<uib-tabset>
				<uib-tab heading="条件字段" select="switchTabStatus('condition')">
					<div class="animated fadeInRight full-height-scroll" full-scroll>
					<table class="table table-striped table-bordered table-hover dataTables-example">
					<tr>
						<th>字段名</th>
						<th>显示名</th>
						<th>条件</th>
						<th>值来源</th>
						<th class="col-md-4">默认值</th>
						<th width="10%">管理</th>
					</tr>
					<tr ng-repeat="column in prop.conditionfield" ng-if="column.defaultType!='5'">
						<td>{{column.field}}</td>
						<td>{{column.comment}}</td>
						<td ng-if="column.dbType=='number'||column.dbType=='int'">
							<select ng-model="column.condition" ng-options="m.value as m.key for m in number_opList"></select>
						</td>
						<td ng-if="column.dbType=='varchar'||column.dbType=='clob'">
							<select ng-model="column.condition" ng-options="m.value as m.key for m in string_opList"></select>
						</td>
						<td ng-if="column.dbType=='date'">
							<select ng-model="column.condition" ng-options="m.value as m.key for m in date_opList"></select>
						</td>
						<td>
							<select ng-model="column.defaultType" ng-options="m.value as m.key for m in value_sourceList"></select>
						</td>
						<td>
							<a class="btn btn-primary btn-xs" ng-show="column.defaultType=='3'" ng-click="selectScript_column(column)">常用脚本</a> <i ng-show="column.defaultType=='3'" class="bigger-150 fa fa-question ht-help" ht-tip
																																				   title="<ul >
								<li>自定义SQL
																<ul>
																	<li>if(map.get('ACTDEFID')!=null){</li>
																	<li>return 'select * from where ACTDEFID like '%'+map.get('ACTDEFID')+'%'' ;</li>
																	<li>}</li>
																	<li>其中的map为系统所封装的一个参数</li>
																	<li>
																		在脚本中使用map.get('ACTDEFID')可以获取表单提交时所携带的ACTDEFID参数值，
																	</li>
																</ul>
															</li>
							</ul>"></i>
							<textarea rows="4" cols="20" class="inputText" ng-model="column.defaultValue" ng-if="(column.defaultType=='2'&&column.dbType!='date')||column.defaultType=='3'"></textarea>
							<input ng-model="column.defaultValue" ng-if="column.defaultType=='2'&&column.dbType=='date'" validate="{date:true}" type="text" class="inputText wdateTime" ht-date="wdateTime" name="date" /> <span ng-if="column.defaultType=='2'&&column.dbType=='date'&&column.condition=='BETWEEN'"> 至 <input
								ng-model="column.endDate" name="date" validate="{date:true}" type="text" class="inputText wdateTime" ht-date="wdateTime" />
						</td>
						<td>
							<button class="btn btn-danger btn-sm remove" ng-click="ArrayChange.del($index,prop.conditionfield)">
								<i class="fa fa-trash"></i> 删除
							</button>
						</td>
					</tr>
				</table>
				</div>
				</uib-tab>
				<uib-tab heading="返回字段" select="switchTabStatus('return')">
					<table class="table table-striped table-bordered table-hover dataTables-example">
					<tr>
						<th>
							<abbr ht-tip title="字段列名">字段名称</abbr>
						</th>
						<th>
							<abbr ht-tip title="对话框返回数据时的字段KEY">返回名称</abbr>
						</th>
						<th width="25%">
							<span>管理</span>
						</th>
					</tr>
					<tr ng-repeat="column in prop.resultfield">
						<td>
							{{column.field}}
						</td>
						<td>
							<input type="text" class="inputText" ng-model="column.comment" ht-validate="{variable:true}" />
						</td>
						<td>
							<button class="btn btn-danger btn-sm remove" ng-click="ArrayChange.del($index,prop.resultfield)">
										<i class="fa fa-trash"></i> 删除
									</button>
						</td>
					</tr>
				</table>
				</uib-tab>
				<uib-tab ng-if="prop.dsType=='dataSource'" heading="排序字段" select="switchTabStatus('order')">
					<table class="table table-striped table-bordered table-hover dataTables-example">
					<tr>
						<th>字段</th>
						<th>排序类型</th>
						<th width="25%">管理</th>
					</tr>
					<tr ng-repeat="column in prop.sortfield">
						<td>{{column.field}}</td>
						<td>
							<select ng-model="column.sortType" ng-options="m.value as m.key for m in sort_typeList"></select>
						</td>
						<td>
							<button class="btn btn-danger btn-sm remove" ng-click="ArrayChange.del($index,prop.sortfield)">
										<i class="fa fa-trash"></i> 删除
									</button>
						</td>
					</tr>
				</table>
				</uib-tab>
				<uib-tab ng-if="prop.dsType=='dataSource'" heading="自定义SQL" select="switchTabStatus('custom')">
					<div class="checkbox">
					<label>
						<input type="checkbox" ng-model="prop.sqlBuildType" />
						自定义SQL
						<i class="bigger-150 fa fa-question ht-help" ht-tip title="<ul >
								<li>自定义SQL
																<ul>
																	<li>if(map.get('ACTDEFID')!=null){</li>
																	<li>return 'select * from where ACTDEFID like '%'+map.get('ACTDEFID')+'%'' ;</li>
																	<li>}</li>
																	<li>其中的map为系统所封装的一个参数</li>
																	<li>
																		在脚本中使用map.get('ACTDEFID')可以获取表单提交时所携带的ACTDEFID参数值，
																		脚本应拼接并返回任意的可执行的sql语句;同时，sql语句字段返回应该包含我们定义的
																		返回字段，和显示字段，通常使用select * from的方式保证需求字段都在这个查询里面
																	</li>
																</ul>
															</li>
							</ul>"></i>
					</label>
					<a class="btn btn-primary btn-xs" ng-click="selectScript_diySql()">常用脚本</a>
					<select style="width: 120px" ng-model="customVar" ng-change="selectVar(customVar)">
						<option value="">可选变量</option>
						<option ng-repeat="con in prop.conditionfield"  ng-if="con.defaultType == 1 || con.defaultType == 4"  ng-value="con.field" >{{con.comment}}</option>
					</select>
				</div>
				<textarea ng-model="prop.diySql" rows="10" cols="77"></textarea>
				</uib-tab>
			</uib-tabset>
		</div>
	</div>


</div>