<div ng-controller="conditionScriptGetCtrl">
	<form class="form-horizontal m-t-md">
		<div class="form-group">
			<label class="col-sm-3 control-label">脚 本 类型:</label>
			<div class="col-md-9">
				<span ng-if="data.type==1">条件脚本</span>
				<span ng-if="data.type==2">人员脚本</span>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label">脚本所在类名:</label>
			<div class="col-md-9">
				{{data.className}}
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label">类实例名:</label>
			<div class="col-md-9">
				{{data.classInsName}}
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label">方法名称:</label>
			<div class="col-md-9">
				{{data.methodName}}
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label">方法描述:</label>
			<div class="col-md-9">
				{{data.methodDesc}}
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label">返回值类型:</label>
			<div class="col-md-9">
				{{data.returnType}}
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label">参数信息:</label>
			<div class="col-md-9">
				{{data.argument}}
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label">是否有效:</label>
			<div class="col-md-9">
				<span ng-if="data.enable==0">否</span>
				<span ng-if="data.enable==1">是</span>
			</div>
		</div>
	</form>
</div>