<div class="white-bg animated fadeInRight full-heigh" full-scroll ng-controller="flowOtherSettingCtrl">
		<div class="col-md-12 no-padding">
			<div class="ibox-title no-borders">
				<div class="col-md-10 ">
					<div class="col-md-3 btn-group tools-panel">
						<button type="button" class="btn btn-success btn-sm"
							ng-click="save()">
							<i class="fa fa-plus"></i> 保存
						</button>
					</div>
				</div>
			</div>
			<div  class="col-md-12 btn-group tools-panel">
				<table class="table table-bordered">
					<tr>
						<th class="col-md-3">
							<span>标题规则:</span>
							<div id="varTree"></div>
						</th>
						<td class="col-md-9">
							<input type="hidden" ng-model="prop.defId" />
							<div ht-editor="getContentTxt" config="editorConfig" width="90%" ng-model="prop.subjectRule" ></div>
						</td>
					</tr>
					<tr>
						<th>
							<span>流程描述:</span>
						</th>
						<td>
							<textarea rows="3" style="width:100%;" ng-model="prop.description" class="inputText"></textarea>
						</td>
					</tr>
					<tr>
						<th>
							<span>通知类型:</span>
						</th>
						<td>  
							<label class="checkbox-inline" ng-repeat="(k,v) in handlerTypes track by $index">
								<input type="checkbox" ht-checkbox ng-model="prop.notifyType" value="{{k}}" />{{v}}
							</label>
						</td>
					</tr>
					<tr>
						<th>
							<span>测试通知类型:</span>
						</th>
						<td> 
						  <label class="checkbox-inline" ng-repeat="(k,v) in handlerTypes track by $index">
							<input type="checkbox" ht-checkbox ng-model="prop.testNotifyType" value="{{k}}" />{{v}}
						 </label>
						</td>
					</tr>
					<tr>		
						<th><span>参数设置</span></th>						
						<td colspan="1">
						    <div>
						    	<span  ht-boolean ng-disabled="prop.firstNodeUserAssign" text="跳过第一个节点" ng-model="prop.skipFirstNode" ht-tip title="流程启动时，是否允许直接跳过第一个节点。选中（背景为绿色）表示'是'"></span>
						    	<span  ht-boolean text="流程启动选择执行人" ng-model="prop.firstNodeUserAssign" ht-tip title="流程启动选择执行人。"></span>
						    	<!-- <span  ht-boolean text="审批表单使用主版本" ng-model="prop.useMainForm" ht-tip title="审批表单使用主版本"></span> -->
						    </div>
							 <div style="margin-top: 5px;">
							    <span  ht-boolean text="任务允许转办" ng-model="prop.allowTransTo" ht-tip title="任务是否允许转办"></span>
							    <span  ht-boolean text="允许执行人为空" ng-model="prop.allowExecutorEmpty" ht-tip title="任务执行人是否可以为空"></span>
							    <span  ht-boolean="run/test" text="是否正式" ng-model="prop.testStatus" ht-tip title="是否正式。测试状态，可以使用清除数据    选中（背景为绿色）表示'正式'，未选中（背景为灰色）表示'测试'"></span>
							 </div>
						</td>
					</tr>
					
					<tr>
						<th>
							<span>跳过类型:</span>
						</th>
						<td>
						 <label class="checkbox-inline" ng-repeat="model in skipConditionList track by $index">
							<input type="checkbox" ht-checkbox ng-model="prop.skipRules" value="{{model.type}}" />{{model.title}}
						 </label>
						</td>
					</tr>
					
					<tr>
						<th>
							<span>办结抄送</span>
						</th>
						<td>
							<a class="btn  btn-info" ng-click="setEndNotify()">设置</a>
							<a href="javascript:;" style="text-decoration: none;" title="如果允许流程结束时抄送给某批人，则需要进行设置。" class="fa fa-exclamation-circle ht-help" ht-tip> </a>
						</td>
					</tr>
		
					
					<tr>
						<th>
							<span>状态:</span>
						</th>
						<td>
							<label class="radio-inline">
								<input type="radio" ng-model="prop.status" value="deploy" />
								已发布
							</label>
							<label class="radio-inline">
								<input type="radio" ng-model="prop.status" value="forbidden" />
								禁止
							</label>
							<label class="radio-inline">
								<input type="radio" ng-model="prop.status" value="forbidden_instance" />
								禁止实例
							</label>
						</td>
					</tr>
					<tr>
						<th>
							<span>任务审批时表单版本<a  href="javascript:;" style="text-decoration: none;" title="外部子流程取主流程的设置参数。" class="fa fa-exclamation-circle ht-help" ht-tip> </a>:</span>
						</th>
						<td>
							<label class="radio-inline">
								<input type="radio"  ng-checked="!prop.useMainForm||prop.useMainForm==''" ng-model="prop.useMainForm" value="" />
								全局设置<a href="javascript:;" style="text-decoration: none;" title="全局设置：默认使用【系统属性管理】中参数“任务审批时使用表单主版本”的参数值。" class="fa fa-exclamation-circle ht-help" ht-tip> </a>
							</label>
							<label class="radio-inline">
								<input type="radio"  ng-model="prop.useMainForm" value="mainVersion" />
								表单主版本<a href="javascript:;" style="text-decoration: none;" title="表单主版本：任务审批时使用绑定表单的主版本。" class="fa fa-exclamation-circle ht-help" ht-tip> </a>
							</label>
							<label class="radio-inline">
								<input type="radio"  ng-model="prop.useMainForm" value="startVersion" />
								启动时版本<a href="javascript:;" style="text-decoration: none;" title="启动时版本：任务审批时使用流程启动时绑定的表单版本。" class="fa fa-exclamation-circle ht-help" ht-tip> </a>
							</label>
						</td>
					</tr>
					<tr>
						<th>
							<span>审批期限:</span>
						</th>
						<td>
							<span>
								<label class="radio-inline">
									<input type="radio"  value="worktime" ng-model="prop.dateType">工作日
								</label>
								<label class="radio-inline">
						  			<input type="radio"  value="caltime" ng-model="prop.dateType">日历日
						  		</label>
						  		<span ht-times="prop.dueTime" ng-model="prop.dueTime"></span>
							</span>
						</td>
					</tr>
				</table>
			</div>
		</div>
</div>