<div class="white-bg border-left animated fadeInRight"
	ng-controller="customDialogListCtrl">
	<div class="ibox" ht-data-table="dataTable" url="${form}/form/customDialog/v1/list">
		<div class="ibox-title no-borders">
		<div class="col-md-10 ">
		<div class="input-group col-md-3 tools-panel">
					<span class="input-group-addon">
						<i class="fa fa-search"></i>
					</span>
					<input type="text" name="search" class="form-control input-sm" placeholder="名称，别名"
						   title="通过名称，别名" ht-quick-search="name,alias">
				</div>
			</div>
		</div>
		<div class="ibox-footer">
			<table class="table table-bordered table-striped table-hover"
				ht-table>
				<tbody>
					<tr ng-repeat="row in dataTable.rows track by $index">
						<td width="30" class="center" selectable="true" single="true">
							<div class="checkbox" ng-class="{'checkbox-circle':true}">
								<input type="checkbox" ht-select="row" ht-select-event="htSelectEvent(row)">
								<label></label>
							</div>
						</td>
						<td ht-field="row.name" title="名称"></td>
						<td ht-field="row.alias" title="别名" sortable="true"></td>
						<td ht-field="row.objName" title="对象名称 " sortable="true"></td>
					</tr>
					<tr class="no-row">
						<td colspan="9"><i class="fa fa-info-circle"></i>
							没有查询到符合条件的记录</td>
					</tr>
				</tbody>
			</table>
			<div ht-pagination></div>
		</div>
	</div>
</div>