<div class="white-bg animated fadeInRight full-height" ng-controller="layoutDesignCtrl">
	<div class="col-md-2 p-sm full-height">
		<uib-accordion close-others="true">
			<div uib-accordion-group class="panel-default" heading="布局设置" is-open="openStatus.org">
				<div class="dragfrom m-xs" ng-repeat="layoutTemp in layoutTempList">
					<span class="label label-default" layout-id="{{layoutTemp.id}}" ng-bind="layoutTemp.name"></span>
				</div>
			</div>
			<div uib-accordion-group class="panel-default" ng-repeat="(key,value) in columnMap" heading="{{key}}" is-open="openStatus.pos">
				<div class="dragfrom m-xs" ng-repeat="columnTemp in value">
					<span class="label label-primary" column-alias="{{columnTemp.alias}}" ng-bind="columnTemp.name"></span>
				</div>
			</div>
		</uib-accordion>
	</div>
	
	<div class="col-md-10 no-padding full-height border-left">
		<div class="ibox full-height">
			<div class="ibox-title no-borders p-xs">
				<div class="col-md-9">
					<strong>布局设计</strong>
					<a class="btn btn-white btn-bitbucket btn-sm" ng-click="clear()">
                        <i class="fa fa-trash"></i> 清空
                    </a>
                    <a class="btn btn-white btn-bitbucket btn-sm" ng-click="redo()">
                        <i class="fa fa-repeat"></i> 重做
                    </a>
                     <!--待完成
                    <a class="btn btn-white btn-bitbucket btn-sm" ng-click="undo()">
                        <i class="fa fa-undo"></i> 撤销
                    </a>
                    <a class="btn btn-white btn-bitbucket btn-sm" id="edit">
                        <i class="fa fa-exchange"></i> 编辑
                    </a> -->
                    <!-- <a class="btn btn-white btn-bitbucket btn-sm" id="devpreview">
                        <i class="fa fa-check-circle-o"></i> 布局
                    </a> -->
                    <a class="btn btn-white btn-bitbucket btn-sm" ng-click="preview()">
                        <i class="fa fa-road"></i> 预览
                    </a>
				</div>
				<div class="w-150">
					<button class="btn btn-primary btn-sm" type="button" ng-click="save()">
						<i class="fa fa-save"></i> 保存
					</button>
					<button class="btn btn-default btn-sm" type="button" ng-click="back()">
						<i class="fa fa-undo"></i> 返回
					</button>
				</div>
			</div>
			<div class="ibox-content" style="height: calc(100% - 50px);">
				<div id="designPanel" class="dropto white-bg full-height-scroll p-sm" full-scroll>
					 <div class="row" layout-id="{{layout.id}}" ng-repeat="layout in layouts track by $index" ng-class="{'selected':editingField===layout}" ng-click="selectField(layout)">
					 	<div class="superfluous" ng-bind-html="layout.templateHtml" ></div>
					 	<div ng-if="editingField===layout" class="tooltip-container">
						    <a class="btn btn-danger fa fa-trash-o" title="移除" ng-click="removeField(layout)"></a>
						</div> 
					 </div>
				</div>
			</div>
		</div>
	</div>
</div>
<style>
	div.dragfrom span.label {
		display: inline-block;
		padding: 5px 16px;
	}
	.dragfrom{
		cursor: move;
	}
	.column{
		border:1px dashed #ccc;
		min-height:50px;
		margin: 10px 0;
		text-align: center;
	}
	#tong .column{
		border: 0;
		margin: 0;
	}
	.column span.label {
		margin: 12px 0;
    	display: inline-block;
	}
</style>