<div class="animated fadeInRight full-height-scroll" full-scroll ng-controller="flowStartCtrl">
		<div class="row wrapper">
			<div class="ibox">
				<div class="ibox-title no-borders">
					<h5>{{title}}</h5>
					<button class="btn btn-danger btn-sm remove" style="float: right;margin-right: 20px;margin-top: -5px;"  ng-click="close()">
					<i class="fa fa-undo"></i> 返回
				</button>
				</div>
				<div class="ibox-content">
					<div class="srcoll-panel">
						<div class="gray-div">
							<div class="toolbar-panel noprint">
								<div class="buttons" style="margin-left:10px;">
									<div ht-bpm-buttons></div>
								</div>
							</div>
							
							<div ht-bpm-manager="{taskId:{{taskId}}}"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
</div>