<div ng-controller="taskCommuCtrl">
		<div class="toolbar-panel col-md-12">
			<form>
				<table cellspacing="0" class="table-form">
				<tr>
					<th>通知方式：</th>
					<td>
						<div class="checkbox checkbox-info checkbox-inline" ng-repeat="(k,v) in handlerTypes track by $index">
							<input id="{{k}}" type="checkbox" ht-checkbox ng-model="data.messageType" value="{{k}}" />
							<label for="{{k}}"> {{v}} </label>
						</div>
					</td>
				</tr>
				<tr>
					<th>沟通人员：</th>
					<td>
						<input type="hidden" id="userId" ng-model="data.userId" name="userId"  >
						<div>
							<ul>
								<li class="tags-li" ng-repeat="item in selectUsers track by $index">
								<div class="tags-pan">
									<a class="tags-remove-btn" href="javascript:;" ng-click="removeSelectedArr('selectUsers',item)"><i class="fa fa-close" ></i></a> 
									<span  ng-bind="item.fullname"></span>
								</div>
							</li>
							</ul>
						</div>
						<a role="button" href="javascript:void(0)" ng-click="selectUser()"  class="btn btn-primary btn-sm fa fa-user">选择人员</a>
					</td>
				</tr>
				<tr> 
					<th>沟通内容：</th>
					<td><textarea name="opinion" ng-model="data.opinion" rows="4" cols="50" style="width: 300px; margin:5px"  class="inputText"></textarea></td>
				</tr>
				</table>
			</form> 
		</div>
		<div class="toolbar-panel col-md-12">
			<fieldset ng-if="commuReceivers" class="scheduler-border" style="margin: 5px 5px 5px 5px;">
				<legend style="width: 90px">沟通回复</legend>
				<table cellspacing="0" class="table-form">
					<tbody ng-repeat="receiver in commuReceivers">
						<tr>
							<th><span>回复人：</span></th>
							<td>{{receiver.receiver}}</td>
							<th><span>反馈时间：</span></th>
							<td>{{receiver.feedbackTime | date:'yyyy-MM-dd HH:mm:ss'}}</td>
						</tr>
						<tr>
							<th><span>沟通意见：</span></th>
							<td colspan="3" ng-if="receiver.feedbackTime" style="height: 80px">
								{{receiver.opinion}}
							</td>
							<td colspan="3" ng-if="!receiver.feedbackTime" style="height: 80px">
								尚未回复
							</td>
						</tr>
					</tbody>
				</table>
			</fieldset>
		</div>
		<div class="toolbar-panel col-md-12" style="text-align:right;margin-bottom: 5px">
				<div class="buttons">
					<a role="button" ng-click="saveCommu();" href="javascript:void(0);" class="btn btn-primary btn-sm fa fa-save">确定</a>
					<button ng-click="closeEdit();" class="btn btn-default btn-sm  fa fa-close">取消</button>
				</div>
			</div>
</div>

