.field-lib-container .panel-body {
	padding: 0;
}
.field-lib-container .row {
	margin: 0;
}
.default-value-div {
	margin-bottom: 8px;
}
.default-value-label {
	margin-top: 5px;
}
.inline-first {
	padding-left: 0;
}
.touch-input-desc {
	color: #8b9193;
}
.dragfrom {
	padding: 0;
}
.dragfrom .field-item {
	padding: 10px;
	cursor: move;
	border-bottom: 1px solid #ccc;
	border-right: 1px solid #ccc;
}
.dragfrom .field-item:hover {
	background: #f5f5f5;
}
.last-container .field-item {
	border-right: 0 !important;
}
.dropto .field-item {
	border: 1px solid #fff;
	border-left-width: 3px;
	margin: 0;
	cursor: pointer;
	padding: 0 10px;
	min-width: 120px;
	min-height: 70px;
	vertical-align: top;
	display: inline-block;
}
.dropto .selected {
	background: #f2f2f2 !important;
	border-color: #C0C0C0;
	border-left: 3px solid #1ab394;
}
.dropto .field-item * {
	cursor: pointer;
}
.dropto .field-item:hover {
	background: #f5f5f5;
}
.radio-hide {
	width: 0px;
	height: 0px;
	display: none;
}
.control-label {
	word-break: break-all;
	text-align: right;
	font-weight: 100;
	color: #545252;
	font-size: 12px;
	padding: 0px 10px !important;
	font-weight: bold;
	line-height: 30px;
}
.input-group-addon{
	background-color: #E5E6E7 !important;
}
.panel-body>.table {
	margin-bottom: 0px !important;
}
span>label.btn , span>select.form-control{
	padding: 6px !important;
}
.field-group {
	margin-top: 5px;
	min-height: 60px;
}
.lable-left {
	float: left;
	width: 95px;
	text-align: right;
}
.content-right {
	margin-left: 100px;
	line-height: 30px;
}
.initContentSize {
	width: 100%;
	min-height: 500px;
	overflow:hidden;
	padding-bottom: 10px;
}
.sub-container{
	background:#fff !important;
}
.sub-container .sub-header, .sub-container .sub-footer{
	padding:5px;
}
.sub-container:hover .sub-header, .sub-container:hover .sub-footer{
	background:#f5f5f5;
}
.selected .sub-header, .selected .sub-footer{
	background:#f2f2f2 !important;
}
.sub-container .sub-body {
	min-height: 70px;
	background: #fff;
	overflow:hidden;
}
.sub-container .sub-body:hover {
	background: #fff;
}
.no-top-border{
	border-top: none;
}
input.ng-invalid, textarea.ng-invalid, select.ng-invalid, .edui-editor.ng-invalid, span.ng-invalid input, div.ng-invalid .ht-input, .has-error {
    border-color: #dd514c !important;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.tooltip-container{
	position:absolute;
	bottom:-5px;
	right:8px;
	z-index: 9999;
}
div.setting-container {
	padding: 6px 0; 
}
div.hr-line-dashed {
	margin: 10px 0;
}
ul.setting-container-ul {
	padding:0 15px 0 13px;
}
ul.setting-container-ul li{
	margin-bottom: 5px;
}
div.setting-btn {
	margin-top:3px;
	padding:0 5px 0 10px;
}
div.setting-value-div{
	padding:0 5px;
}
div.setting-label-div{
	padding:0 10px 0 5px;
}
.wrapper-content{
	margin-top:40px;
}
/**时间控件样式*/
.date,.datetime,.dateformat{
	background: url(../../img/datePicker.gif) no-repeat scroll right
		center #FFFFFF;
	background-image: url(../../img/datePicker.gif) !important;
}
.item-field{
	width: 75px;
}
div.btn-group label.btn.active {
	margin-top: 0;
}