<div class="row animated fadeInRight full-height" ng-controller="orgAuthManagerCtrl">
	<div class="col-md-2 catogry-div full-height">
		<div class="panel panel-default full-height">
            <div class="panel-heading">
            	组织树
            </div>
            <div class="panel-body">
            	<div class="row form-group">
            		<div class="col-md-12">
            			<select class="form-control input-sm" ng-model="currentAuthOrgId" ng-options="authOrg.id as authOrg.orgName +'--['+authOrg.demName+']' for authOrg in authOrgs"></select>
            		</div>
            	</div>
            	<div class="row border-top p-w-sm">
            		<div class="full-height-scroll">
				        <ul ht-tree="treeConfig" ng-model="orgTreeData" tree="orgTree"
				       		before-right-click="beforeRightClick(treeNode)"
				       		tree-context-menu="contextMenu"
				       		menu-click="menuClick(menu, treeNode)"
	                        tree-events="onClick:orgTree_click;onExpand:orgTree_expand"></ul>
				    </div>
            	</div>
            </div>
        </div>
	</div>
	<div class="col-md-10" ng-show="org != ''" style="padding-top: 5px">
       <div class="tabs-container">
           <uib-tabset  active="tabActive">
               <uib-tab heading="{{orgActionTitle}}">
              	 <div class="panel-body ">
                   <div ng-include="'views/uc/org/orgEdit.html'"></div>
                 </div>
               </uib-tab>
               <uib-tab heading="组织人员">
              		<div class="panel-body">
                 		<div ng-include="'views/uc/orgAuth/orgUserList.html'"></div>
                 	</div>
               </uib-tab>
               <uib-tab heading="组织岗位">
               		<div class="panel-body ">
                   		<div ng-include="'views/uc/orgAuth/orgPostList.html'"></div>
                   	</div>
               </uib-tab>
               <uib-tab heading="组织参数">
               		<div class="panel-body ">
                  	 	<div ng-include="'views/uc/org/orgParamsEdit.html'"></div>
                   	</div>
               </uib-tab>
               <uib-tab heading="组织分级管理设置">
               		<div class="panel-body">
                   		<div ng-include="'views/uc/orgAuth/orgAuthList.html'"></div>
                  	</div>
               </uib-tab>
           </uib-tabset>
		</div>
	</div>
</div>