<div class="animated fadeInRight gray-bg full-height" ng-controller="previewDesignCtrl">
	<nav class="navbar no-margins white-bg border-bottom">
        <div class="m-sm">
        	<button class="btn btn-info btn-sm" type="button" ng-click="close()">
        		<i class="fa fa-close"></i> 关闭
        	</button>
		</div>
    </nav>

	<div class="container m-t-sm">
		<uib-tabset>
			<uib-tab heading="表单预览">
				<div id="formHtml" ht-bind-html="formHtml" full-scroll ng-model="formHeight"></div>
			</uib-tab>
			<uib-tab heading="查看数据">
				<div style="width: 100%;">
					<pre id="pre" style="height: 600px;overflow: auto;" class="no-top-border">{{data | json}}</pre>
				</div>
			</uib-tab>
		</uib-tabset>
	</div>
</div>
<style>
	#formHtml div.ibox-title{
		border-top: 0;
	}
	#formHtml div.ibox-content{
		overflow: auto;
	}
	.checkbox-inline, .radio-inline {
		position: relative;
		display: inline-block;
		padding-left: 20px;
		margin-bottom: 0;
		font-weight: 400;
		vertical-align: middle;
		cursor: pointer;
		margin-top: 4.5px;
	}
	.checkbox-inline+.checkbox-inline, .radio-inline+.radio-inline {
		margin-top: 4.5px;
		margin-left: 10px;
	}
</style>