<div class="row border-bottom">
    <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <span minimaliza-sidebar></span>
        </div>
        <ul class="nav navbar-top-links navbar-right">
            <li uib-dropdown>
            	<a href="/front/" tooltip-placement="left" 
		           uib-tooltip="访问前台页面" target="_blank">
            		<i class="fa fa-desktop"></i>
            	</a>
            </li>
            <li>
                <a ng-click="logout()">
                    <i class="fa fa-sign-out"></i>退出
                </a>
            </li>
        </ul>
    </nav>
</div>