<div class="row animated fadeInRight" ng-controller="roleSelectorCtrl">
	<div id="full-height-scroll" class="col-md-8 border-right border-left no-padding">
		<div class="ibox" ht-data-table="roleDataTable" url="${uc}/api/role/v1/roles/getRolePage" target="layui-layer-content" adjust="7">
			<div class="ibox-title no-borders">
				<div class="input-group col-md-6 tools-panel">
					<span class="input-group-addon">
						<i class="fa fa-search"></i>
					</span>
					<input type="text" name="search" class="form-control input-sm" placeholder="名称，编码"
						   title="名称，编码" ht-quick-search="name,code">
					<span class="input-group-btn">
						<button class="btn btn-default btn-sm" type="button" 
                       		ht-reset><i class="fa fa-reply-all"></i> 重置</button>
					</span>
				</div>
			</div>
			<div class="ibox-footer">
				<table class="table table-bordered table-striped table-hover" ht-table>
					<tbody>
						<tr ng-repeat="row in roleDataTable.rows track by $index">
							<td width="30" class="center" selectable="true" single="pageParam.single">
								<div class="checkbox" ng-class="{'checkbox-circle':pageParam.single}">
                                    <input type="checkbox" ht-select="row" ht-select-event="roleSelectEvent(row)">
                                    <label></label>
                                </div>
							</td>
							<td width="50" ng-bind="$index+1" title="序号"></td>
							<td ht-field="row.name" title="名称" sortable="true"></td>
							<td ht-field="row.code" title="编码" sortable="true"></td>
						</tr>
						<tr class="no-row">
							<td colspan="5"><i class="fa fa-info-circle"></i> 没有查询到符合条件的记录</td>
						</tr>
					</tbody>
				</table>
				<div ht-pagination></div>
			</div>
		</div>
	</div>
	
	<div class="col-md-4 tags-div">
		<div class="full-height-scroll">
	        <div class="ibox-content no-borders">
	            <ul class="tags-ul">
					<li class="tags-li" ng-repeat="item in roleSelectArr track by $index">
						<div class="tags-pan">
							<a class="tags-remove-btn" href="javascript:;" ng-click="removeSelectedArr('roleSelectArr',item)"><i class="fa fa-close" ></i></a> 
							<span ng-bind="item.name"></span>
						</div>
					</li>
				 </ul>
	        </div>
	    </div>
	    <div class="p-sm" ng-if="roleSelectArr.length > 1">
			<button class="btn btn-danger btn-sm btn-block" ng-click="clearSelectedArr('roleSelectArr')">清空</button>
		</div>
	</div>
</div>