<div class="white-bg animated fadeInRight">
	<div class="col-md-12 no-padding">
		<div class="ibox" ht-data-table="userPostTable" initialize="false" url="${uc}/api/org/v1/orgs/getUserOrgPage"  adjust="-50">
			<div class="ibox-title no-borders">
				<div class="col-md-10 ">
					<!-- <div class="col-md-1 btn-group tools-panel">
						<button type="button" class="btn btn-success btn-sm"
								ng-click="addOrgPost('add')">
							<i class="fa fa-plus"></i> 添加岗位
						</button>
					</div>  -->
					<div class="input-group col-md-3 tools-panel">
						<span class="input-group-addon">
							<i class="fa fa-search"></i>
						</span>
						<input type="text" name="search" class="form-control input-sm" placeholder="通过组织名称"
							   title="通过组织名称" ht-quick-search="org.name_">
					</div>
				</div>
			</div>
			<div class="ibox-footer">
				<table class="table table-bordered table-striped table-hover" initialize="false" ht-table>
					<tbody>
						<tr ng-repeat="row in userPostTable.rows track by $index">
							<td width="30" class="center" selectable="true" single="pageParam.single">
								<div class="checkbox" ng-class="{'checkbox-circle':pageParam.single}">
                                    <input type="checkbox" ht-select="row" ht-select-event="orgSelectEvent(row)">
                                    <label></label>
                                </div>
							</td>
							<td width="50" ng-bind="$index+1" title="序号"></td>
							<td ht-field="row.demName" title="组织维度" sortable="false"></td>
							<td ht-field="row.orgName" title="组织名称" sortable="false"></td>
							<td ht-field="row.posName" title="岗位名称" sortable="false"></td>
							<td ng-switch="row.isMaster" title="是否主岗位" sortable="false">
								<span class="badge badge-primary" ng-switch-when="1">是</span>
								<span class="badge badge-primary" ng-switch-when="0">否</span>
							</td>
							<td title="操作">
								<button class="btn btn-info btn-sm" ng-if="row.isMaster == 0" ng-click="setIsMaster(row, true)"><i class="fa fa-edit"></i> 设置主岗位</button>
								<button class="btn btn-info btn-sm" ng-if="row.isMaster == 1" ng-click="setIsMaster(row, false)"><i class="fa fa-edit"></i> 取消主组织</button>
								<button class="btn btn-danger btn-sm remove" ng-click="removeUserOrg(row)"><i class="fa fa-edit"></i>删除</button>
							</td>
						</tr>
						<tr class="no-row">
							<td colspan="11"><i class="fa fa-info-circle"></i> 没有查询到符合条件的记录</td>
						</tr>
					</tbody>
				</table>
				<div ht-pagination></div>
			</div>
		</div>
	</div>
</div>